/* fun button styles!! */
/* from fxexperience.com */


.grid {
    -fx-background-color: transparent;
}

.grid Line {
    -fx-stroke: white;
}

#right {
    -fx-background-color: 
        rgb(240, 240, 240),
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 75%, #e9e9e9 85%, #e2e2e2 100%);
    -fx-border-color: lightgrey;
    /* -fx-background-insets: 0,1,2; */
}

.ping {
    -fx-background-color: 
        rgb(240, 240, 240),
        linear-gradient(#ffffff 0%, #e4e4e4 75%, #e0e0e0 85%, #dadada 100%);
    -fx-border-color: darkgrey;
    -fx-border-radius: 2px;
}

.pingpressed {
    -fx-background-color: 
        rgb(204, 204, 204),
        linear-gradient(#dddddd 0%, #c9c9c9 75%, #c7c7c7 85%, #c1c1c1 100%);
    -fx-border-color: rgb(141, 141, 141);
    -fx-border-radius: 2px;
}

.circlenofill {
    -fx-fill:  rgba(0,0,0,0);
}